.footer {
    position:fixed;
    left:0;
    bottom:0;
    right:0;
}

.main {
    padding-bottom: 60px;
}

.thankyou_message {
    display: none;
}

embed {
    width:500px; 
    height: 300px;
}

@media screen and (max-width: 600px) {
    #headshot {
        width: 100%;
        margin-bottom: 5%;
    }
}